[submodule "kg-symbol"]
	path = kg-symbol
	url = git@github.com:kodegenix/kg-symbol.git
	branch = master
[submodule "kg-diag"]
	path = kg-diag
	url = git@github.com:kodegenix/kg-diag.git
	branch = master
[submodule "kg-tree"]
	path = kg-tree
	url = git@github.com:kodegenix/kg-tree.git
	branch = master
[submodule "kg-display"]
	path = kg-display
	url = git@github.com:kodegenix/kg-display.git
	branch = master
[submodule "kg-utils"]
	path = kg-utils
	url = git@github.com:kodegenix/kg-utils.git
	branch = master
[submodule "kg-template"]
	path = kg-template
	url = git@github.com:kodegenix/kg-template.git
	branch = master
[submodule "kg-js"]
	path = kg-js
	url = git@github.com:kodegenix/kg-js.git
	branch = master
[submodule "kg-lang"]
	path = kg-lang
	url = git@github.com:kodegenix/kg-lang.git
	branch = master
[submodule "kg-script"]
	path = kg-script
	url = git@github.com:kodegenix/kg-script.git
	branch = master
