[submodule "kg-symbol"]
	path = kg-symbol
	url = git@github.com:Kodegenix/kg-symbol.git
	branch = master
[submodule "kg-diag"]
	path = kg-diag
	url = git@github.com:Kodegenix/kg-diag.git
	branch = master
[submodule "kg-io"]
	path = kg-io
	url = git@github.com:Kodegenix/kg-io.git
	branch = master
[submodule "kg-tree"]
	path = kg-tree
	url = git@github.com:Kodegenix/kg-tree.git
	branch = master
[submodule "kg-display"]
	path = kg-display
	url = git@github.com:Kodegenix/kg-display.git
	branch = master
[submodule "kg-utils"]
	path = kg-utils
	url = git@github.com:Kodegenix/kg-utils.git
	branch = master
[submodule "kg-template"]
	path = kg-template
	url = git@github.com:Kodegenix/kg-template.git
	branch = master
